<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

	<bean id="participantDao" class="com.nisum.onboarding.dao.impl.ParticipantDaoImpl">
	    <property name="sessionFactory">
	        <ref bean="sessionFactory" />
	    </property>
	</bean>
	
	<bean id="participantService" class="com.nisum.onboarding.service.impl.ParticipantServiceImpl">
	    <property name="participantDao">
	        <ref bean="participantDao" />
	    </property>
	</bean>
	
</beans>