@IMPORT url("menu.css");
@IMPORT url("my-jtable.css");

body {
	margin: 0;
	padding: 0;
	font-family: trebuchet ms;
	background: black url(../images/bodyBg.png) repeat;
}

.header {
	background: #EFEFEF url(../images/headerBg.jpg) repeat-x left bottom;
	min-height: 80px;
	-webkit-box-shadow: 0px 2px 3px #222;
	-moz-box-shadow: 0px 2px 3px #222;
}

.header #logo {
	float: left;
	margin: 9px 0 0 9px;
	height: 66px;
}

.footer {
	background: #EFEFEF url(../images/footerBg.jpg) repeat-x left top;
	min-height: 10px;
	padding: 10px;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	-webkit-box-shadow: 0px -2px 3px #222;
	-moz-box-shadow: 0px -2px 3px #222;
}

#home-link-box {
	
}