#menu, #menu ul, #menu ul li, #menu ul li a {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
}

#menu {
	width: auto;
	height: auto;
	padding-bottom: 0;
}

#menu ul {
	float: right;
}

#menu ul li {
	float: left;
	background: url(../images/menuDivider.png) no-repeat left top;
}

#menu ul li a {
	background: transparent none no-repeat 95% center;
	display: inline-block;
	color: #00567d;
	padding: 30px 36px;
	font-size: 15px;
	font-weight: bold;
	line-height: 20px;
	text-decoration: none;
}

#menu ul li:hover {
	background: url("../images/nav-bg-hover.png") repeat-x scroll left bottom #0f71ba;
}

#menu ul li.active {
	background: url("../images/nav-bg.png") repeat-x scroll left bottom #0f71ba;
}

#menu ul li a:hover, #menu ul li.active > a {
	color: #ffffff;
}